<mat-toolbar color="primary">
  <span>NHL Goaltender Performance</span>

  <span class="fill-remaining-space"></span>

  <a href="https://github.com/AlexTaber/nhl-goalie-prediction-model" target="_blank">
    <button
      color="primary"
      mat-mini-fab
    >
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </button>
  </a>

  <button
    color="primary"
    mat-mini-fab
    [disabled]="fetching$ | async"
    (click)="toggleSideNavOpen()"
  >
    <fa-icon icon="question"></fa-icon>
  </button>
</mat-toolbar>